/* ==========================================================================
   SKILLBARS
   ========================================================================== */

.skill-bars{
  padding: 25px 30px;
  // width: 600px;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
  border-radius: 10px;
}
.skill-bars .bar{
  margin: 20px 0;
}
.skill-bars .bar:first-child{
  margin-top: 0px;
}
.skill-bars .bar .info{
  margin-bottom: 5px;
}
.skill-bars .bar .info span{
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100%{
    opacity: 1;
  }
}
.skill-bars .bar .progress-line{
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
              0 1px rgba(255,255,255,0.8);
  animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.bar .progress-line span{
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #183142;
  animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
}

.progress-line span::before{
  position: absolute;
  content: "";
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after{
  position: absolute;
  top: -28px;
  right: -40px;
  // left: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100%{
    opacity: 1;
  }
}

// 20 = Novice
// 35 = Beginner
// 50 = Intermediate
// 65 = Competent
// 80 = Advanced 
// 95 = Expert

// Languages
.progress-line.python span::after{
  content: "Advanced";
}
.bar .progress-line.python span{
  width: 80%;
}

.progress-line.sql span::after{
  content: "Intermediate";
}
.bar .progress-line.sql span{
  width: 50%;
}

.progress-line.nosql span::after{
  content: "Intermediate";
}
.bar .progress-line.nosql span{
  width: 50%;
}

.progress-line.julia span::after{
  content: "Novice";
}
.bar .progress-line.julia span{
  width: 20%;
}

.progress-line.r span::after{
  content: "Novice";
}
.bar .progress-line.r span{
  width: 20%;
}

// 20 = Novice
// 35 = Beginner
// 50 = Intermediate
// 65 = Competent
// 80 = Advanced 
// 95 = Expert

// Python
.progress-line.pytest span::after{
  content: "Advanced";
}
.bar .progress-line.pytest span{
  width: 80%;
}

.progress-line.pandas span::after{
  content: "Competent";
}
.bar .progress-line.pandas span{
  width: 65%;
}

.progress-line.matplotlib span::after{
  content: "Advanced";
}
.bar .progress-line.matplotlib span{
  width: 80%;
}

.progress-line.seaborn span::after{
  content: "Competent";
}
.bar .progress-line.seaborn span{
  width: 65%;
}

.progress-line.plotly span::after{
  content: "Competent";
}
.bar .progress-line.plotly span{
  width: 65%;
}

.progress-line.dash span::after{
  content: "Competent";
}
.bar .progress-line.dash span{
  width: 65%;
}

.progress-line.scikit-learn span::after{
  content: "Intermediate";
}
.bar .progress-line.scikit-learn span{
  width: 50%;
}

.progress-line.keras span::after{
  content: "Beginner";
}
.bar .progress-line.keras span{
  width: 25%;
}

// 20 = Novice
// 35 = Beginner
// 50 = Intermediate
// 65 = Competent
// 80 = Advanced 
// 95 = Expert

// SQL
.progress-line.sqlite span::after{
  content: "Intermediate";
}
.bar .progress-line.sqlite span{
  width: 50%;
}

.progress-line.mysql span::after{
  content: "Beginner";
}
.bar .progress-line.mysql span{
  width: 35%;
}

// 20 = Novice
// 35 = Beginner
// 50 = Intermediate
// 65 = Competent
// 80 = Advanced 
// 95 = Expert

// NoSQL
.progress-line.mongodb span::after{
  content: "Intermediate";
}
.bar .progress-line.mongodb span{
  width: 50%;
}

.progress-line.neo4j span::after{
  content: "Beginner";
}
.bar .progress-line.neo4j span{
  width: 35%;
}

.progress-line.cassandra span::after{
  content: "Beginner";
}
.bar .progress-line.cassandra span{
  width: 35%;
}

// 20 = Novice
// 35 = Beginner
// 50 = Intermediate
// 65 = Competent
// 80 = Advanced 
// 95 = Expert

// web development
.progress-line.flask span::after{
  content: "Intermediate";
}
.bar .progress-line.flask span{
  width: 50%;
}

.progress-line.django span::after{
  content: "Beginner";
}
.bar .progress-line.django span{
  width: 35%;
}

.progress-line.jekyll span::after{
  content: "Beginner";
}
.bar .progress-line.jekyll span{
  width: 35%;
}

.progress-line.html span::after{
  content: "Novice";
}
.bar .progress-line.html span{
  width: 20%;
}

.progress-line.css span::after{
  content: "Novice";
}
.bar .progress-line.css span{
  width: 20%;
}

.progress-line.javascript span::after{
  content: "Novice";
}
.bar .progress-line.javascript span{
  width: 20%;
}

// 20 = Novice
// 35 = Beginner
// 50 = Intermediate
// 65 = Competent
// 80 = Advanced 
// 95 = Expert

// Typesetting
.progress-line.markdown span::after{
  content: "Advanced";
}
.bar .progress-line.markdown span{
  width: 80%;
}

.progress-line.latex span::after{
  content: "Competent";
}
.bar .progress-line.latex span{
  width: 65%;
}

// 20 = Novice
// 35 = Beginner
// 50 = Intermediate
// 65 = Competent
// 80 = Advanced 
// 95 = Expert

// CAD
.progress-line.inventor span::after{
  content: "Expert";
}
.bar .progress-line.inventor span{
  width: 95%;
}

.progress-line.autocad span::after{
  content: "Expert";
}
.bar .progress-line.autocad span{
  width: 95%;
}

.progress-line.fusion span::after{
  content: "Competent";
}
.bar .progress-line.fusion span{
  width: 65%;
}

.progress-line.ds span::after{
  content: "Intermediate";
}
.bar .progress-line.ds span{
  width: 50%;
}
