<!-- See _sass/minimal-mistakes/_skillbars.scss-->
<!-- Created By CodingNepal -->

<body>
    <div class="skill-bars">

        <div class="bar">
            <div class="info">
                <span>MongoDB</span>
            </div>
            <div class="progress-line mongodb">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>neo4j</span>
            </div>
            <div class="progress-line neo4j">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>Cassandra</span>
            </div>
            <div class="progress-line cassandra">
                <span></span>
            </div>
        </div>

    </div>
</body>