<!-- See _sass/minimal-mistakes/_skillbars.scss-->
<!-- Created By CodingNepal -->

<body>
    <div class="skill-bars">

        <div class="bar">
            <div class="info">
                <span>Pandas</span>
            </div>
            <div class="progress-line pandas">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>Matplotlib</span>
            </div>
            <div class="progress-line matplotlib">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>Seaborn</span>
            </div>
            <div class="progress-line seaborn">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>Plotly</span>
            </div>
            <div class="progress-line plotly">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>Dash</span>
            </div>
            <div class="progress-line dash">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>Scikit-learn</span>
            </div>
            <div class="progress-line scikit-learn">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>Keras</span>
            </div>
            <div class="progress-line keras">
                <span></span>
            </div>
        </div>

    </div>
</body>