<!-- See _sass/minimal-mistakes/_skillbars.scss-->
<!-- Created By CodingNepal -->

<body>
    <div class="skill-bars">
        <div class="bar">
            <div class="info">
                <span>Inventor</span>
            </div>
            <div class="progress-line inventor">
                <span></span>
            </div>
        </div>
        <div class="bar">
            <div class="info">
                <span>AutoCAD</span>
            </div>
            <div class="progress-line autocad">
                <span></span>
            </div>
        </div>
        <div class="bar">
            <div class="info">
                <span>Fusion360</span>
            </div>
            <div class="progress-line fusion">
                <span></span>
            </div>
        </div>
        <div class="bar">
            <div class="info">
                <span>3ds Max</span>
            </div>
            <div class="progress-line ds">
                <span></span>
            </div>
        </div>
    </div>

</body>