<!-- See _sass/minimal-mistakes/_skillbars.scss-->
<!-- Created By CodingNepal -->

<body>
    <div class="skill-bars">

        <div class="bar">
            <div class="info">
                <span>C#</span>
            </div>
            <div class="progress-line csharp">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>Python</span>
            </div>
            <div class="progress-line python">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>SQL</span>
            </div>
            <div class="progress-line sql">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>NoSQL</span>
            </div>
            <div class="progress-line nosql">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>Julia</span>
            </div>
            <div class="progress-line julia">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>R</span>
            </div>
            <div class="progress-line r">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>JavaScript</span>
            </div>
            <div class="progress-line javascript">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>HTML</span>
            </div>
            <div class="progress-line html">
                <span></span>
            </div>
        </div>

        <div class="bar">
            <div class="info">
                <span>CSS</span>
            </div>
            <div class="progress-line css">
                <span></span>
            </div>
        </div>

    </div>

</body>